html
  body
    if error
      p= error.message
    h2 Add New Course
    form(action= routes.coursesCreate() method='post')
      label(for='name') Name:
      input(type='text' name='name' id='name' value = name required)
      if errors && errors.name
        p(style='color:red')= errors.name

      br
      label(for='description') Description:
      input(type='text' name='description' id='description' value = description required)
      if errors && errors.description
        p(style='color:red')= errors.description

      br
      button(type='submit') Add Course
      a(href=routes.coursesIndex()) Back to Courses